{% extends 'base.html.twig' %}

{% block title %}MyAvatar - Sign Up{% endblock %}

{% block body %}
<form action="{{ path('app_user_signin') }}" method="post" class="login-form max-w-sm mx-auto mt-10">
    <h1 class="text-center block mb-4 text-xl font-medium text-gray-900 ">Connectez-vous</h1>
    <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 ">Login</label>
        <input class="input-all shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " id="login" type="text" name="_username"/>
    </div>
    <div class="mb-3">
        <label class="block mb-2 text-sm font-medium text-gray-900 ">Mot de passe</label>
        <input class="input-all shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " id="password" type="password" name="_password"/>
    </div>
    <div class="mb-3">
        <label class="block mb-2 text-xs font-medium text-gray-900 ">Vous n'avez pas encore de compte ? <a class="text-blue-700 underline" href="{{ path('app_user_signup') }}">Inscrivez-vous</a></label>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Connexion</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

</form>>
{% endblock %}
